/* ESTILO GERAL */

*{
    margin: 0; /* Define margem zero para todos os elementos */
    padding: 0; /* Define preenchimento zero para todos os elementos */
    box-sizing: border-box; /* Inclui padding e borda no cálculo do tamanho total do elemento */
    font-family: "Playfair Display", serif; /* Define a família de fontes */
    font-weight: 400; /* Define o peso da fonte como normal */
    font-style: normal; /* Define o estilo da fonte como normal */
}

body{
    height: 100vh; /* Define a altura do corpo da página como 100% da altura da janela de visualização */
}

.interface{
    max-width: 1280px; /* Define a largura máxima do elemento .interface como 1280px */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px; /* Define o preenchimento do botão */
    font-size: 15px; /* Define o tamanho da fonte do botão */
    font-weight: 500; /* Define o peso da fonte do botão */
    background-color: #00ff08; /* Define a cor de fundo do botão */
    border: 0; /* Remove a borda do botão */
    border-radius: 30px; /* Define o raio da borda do botão */
    cursor: pointer; /* Define o cursor do mouse como ponteiro ao passar sobre o botão */
    
}

h2.titulo{
    color: black;
    font-size: 40px;
    text-align: center;
}

h2.titulo span{
    color: #11a116;
}

button:hover{
    box-shadow: 0px 0px 8px #10db17; /* Adiciona uma sombra ao botão quando o mouse passa sobre ele */
    transform: scale(1.10);
}

/* ESTILO DO CABECALHO */

header{
    padding: 40px 4%; /* Define o preenchimento do cabeçalho */
}

header > .interface{
    display: flex; /* Usa o modelo flexbox para o elemento .interface dentro do cabeçalho */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os itens horizontalmente com espaço entre eles */
}

#et_logo{
    width: 100px; /* Define a largura do logo com o ID 'et_logo' */
}

header a{
    color: rgb(104, 101, 101); /* Define a cor do texto dos links */
    text-decoration: none; /* Remove a decoração de texto (sublinhado) dos links */
    display: inline-block; /* Exibe os links como blocos em linha */
    transition: .2s; /* Adiciona uma transição suave de 0.2 segundos */
}

header a:hover{
    color: black; /* Define a cor do texto dos links quando o mouse passa sobre eles */
    transform: scale(1.10); /* Aumenta a escala dos links quando o mouse passa sobre eles */
}

header nav ul{
    list-style-type: none; /* Remove os marcadores de lista dos itens da lista */
}

header nav ul li{
    display: inline-block; /* Exibe os itens da lista horizontalmente */
    padding: 0 50px; /* Define o preenchimento dos itens da lista */
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #0ba310;
    font-size: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #11a116;
    font-size: 50px;
}

.topo-do-site .txt-topo-site p{
    color: black;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 25px;
    }
}

/*  ESTILO DAS ESPECIALIDADES   */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    padding: 40px;
    /* border: 3px solid black; */
    margin-top: 50px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #10db17;
}

.especialidades .especialidades-box i{
    font-size: 60px;
    color: black;
    margin-top: 30px;
}

.especialidades .especialidades-box h3{
    font-size: 30px;
    color: black;
    margin: 15px 0;
}

/*  ESTILO DO SOBRE */

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 35px;
}

.sobre .txt-sobre h2 span{
    color: #0ba310;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #0ba310;
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}
